body {
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-wrap: wrap;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
}

header ul {
    display: flex;
    list-style-type: none;
    gap: 12px;
}

header a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

header nav {
    margin-left: auto;
}

header, section, footer {
    padding: 32px 15%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
}

header h1 {
    color: #f9faf8;
    font-size: 24px;
}

footer {
    margin-top: auto;
}

.hero {
    background-color: #1f2937;
    display: flex;
    gap: 32px;
    padding: 80px 15%;
}

.hero h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 600;
    margin-top: 0;
}

.hero p {
    color: #e5e7eb;
    font-size: 18px;
}

.hero .left, .hero .right {
    flex: 1 1 0;
}

.hero .right {
    background-color: #6d737d;
    display: flex;
    justify-content: center;
    align-items: center;
}

button.action {
    background-color: #3882f6;
    color: #e5e7eb;
    font-size: 18px;
    padding: 12px 32px;
    font-weight: bold;
}

.hero button.action {
    border-width: 0;
    border-radius: 8px;
}

.info {
    background-color: #f9faf8;
    color: #1f2937;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.info h2 {
    font-size:  36px;
    font-weight: 600;
}

.deck {
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .image {
    display: inline-block;
    outline-width: 4px;
    outline-style: solid;
    outline-color: #3882f6;
    border-radius: 12px;
    width: 160px;
    height: 160px;
}

section.quote {
    background-color: #e5e7eb;
    color: #1f2937;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.quote footer {
    font-size: 28px;
    font-weight: 600;
    text-align: right;
}

section.action {
    background-color: #f9faf8;
}

div.action {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 16px 32px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

div.action button.action {
    border-width: 3px;
    border-color: #e5e7eb;
    border-radius: 8px;
    border-style: solid;
}

div.action h2, p {
    margin-top: 8px;
    margin-bottom: 8px;
}

.container > footer {
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}

.container > footer a {
    text-decoration: none;
    color: #99a2af;
}

footer div {
    margin: 8px;
}